.FaqPage {
  padding: 20px 50px;
  width: 50%;
  @include sm() {
    width: auto
  }
  @include xs() {
    padding: 20px;
  }
}

  .FaqPage__title {
    font-family: "Avenir-Heavy";
    @include css-lock(18, 32, 320, 1440, 'font-size')
    margin-bottom: 0.3em;
  }
