$header-height: 71px
$header-height-sm: 60px
$footer-height: 78px
$footer-height-sm: 108px

html
	height: 100%
.App
	position: relative
	max-width: 1440px
	margin: 0 auto
	padding-top: $header-height
	padding-bottom: $footer-height
	min-height: calc(100vh - #{$header-height} ) !important
	height: auto !important 
	+sm()
		width: auto
		max-width: 1024px
		padding-top: $header-height-sm
		padding-bottom: $footer-height-sm
	+xs()
		padding-bottom: $footer-height-sm
	+xs()

.App.-payment
	+sm()
		padding-top: $header-height